# =============================================================================
# Business Specific
# =============================================================================
ACCOUNT_NAME=Account Name
PARTNER_NAME=Partner Partner
PREFIX=A0000
REF_PLACEHOLDER=REF_PLACEHOLDER
REF_RESERVED=REF_RESERVED

# =============================================================================
# Templates Archive
# =============================================================================
ARCHIVE_NAME=templates.zip

# =============================================================================
# Specific Excel File Names
# =============================================================================
FILE_NAME_PANELS=panels.xlsx

# =============================================================================
# Anchor for Multiline `docx-mailmerge` Field
# =============================================================================
MERGE_ANCHOR=underwriter

# =============================================================================
# Database
# =============================================================================
DB_USER=username
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=dbname
